@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto Slab', serif;
}

nav ul{
    display: flex;
    align-items: center;
    height: 58px;
    background-color: black;
    color: white;
    list-style: none;
    position: sticky;
}
nav ul li{
    padding: 0 8px;
    margin: 8px;
}

.brand img{
    width: 48px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    display: flex;
    min-height: 70vh;
    background-color: gold;
    color: white;
    font-family: 'Lobster', cursive;
    width: 70%;
    margin: 5px auto;
    border-radius: 18px;
    padding: 34px;
    background-image: url('images\ \(1\).jpg');
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.icons{
    display: flex;
    margin-top: 9px;
}

.icons i{
    cursor: pointer;
}

.fa-solid, .fas {
    font-weight: 900;
    margin: 25px;
}
.songitem{
    height: 50px;    
    display: flex;
    background-color: hotpink;
    /* width: 80%; */
    margin: 12px 0;
    justify-content: space-between; 
    align-items: center;
    border-radius: 25px;
    font-size: 20px;
}

.songitem img{
    width: 49px;
    margin: 0 11px;
    border-radius: 24px;
}
.timestamp{
    margin: 0 14px;
    display: flex;
    align-items: center;
}

.timestamp i{
    cursor: pointer;
}